In [32]:
import numpy as np
import pandas as pd
from scipy import stats

In [279]:
np.random.seed(2018)
X_MEAN = 20
X_STD_ERROR = 3
BETA_0 = 2
BETA_1 = -2.5

ERROR_FACTORY = {
    'normal': lambda size: stats.norm.rvs(0, 2, size=size),
    'uniform': lambda size: stats.uniform.rvs(-2, 4, size=size),
    'skew_normal': lambda size: stats.skewnorm.rvs(
        5, -5/np.sqrt(1 + 5**2)*np.sqrt(2/np.pi), 1, size=size),
    't_2': lambda size: stats.t.rvs(2, 0, 2, size=size),
}

np.var(stats.norm.rvs(x_mean, x_std_error, size=(1000000,)))

9.015564093716879

In [307]:
np.var(ERROR_FACTORY['t_2'](100))

11.513198911140284

In [47]:



pd.DataFrame(index=pd.MultiIndex.from_product([
    pd.Series([15, 30], dtype=np.int32),
    pd.Series(['normal','uniform', 'skew_normal', 't_2'], dtype=np.object),
], names=['n', 'error_type'])).reset_index()

    n   error_type
0  15       normal
1  15      uniform
2  15  skew_normal
3  15          t_2
4  30       normal
5  30      uniform
6  30  skew_normal
7  30          t_2